<!-- Check if any share-links are active -->
{% assign any-share-links = false %}
{% for links in site.share-links-active %}
  {% if links[1] == true %}
    {% assign any-share-links = true %}
  {% endif %}
{% endfor %}

{% if any-share-links %}
<section id = "social-share-section">
  <span class="sr-only">Share: </span>

  {% if site.share-links-active.twitter %}
  <!--- Share on Twitter -->
    <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}+{{ site.url }}{{ page.url }}"
      class="btn btn-social-icon btn-twitter" title="Share on Twitter">
      <span class="fab fa-fw fa-twitter" aria-hidden="true"></span>
      <span class="sr-only">Twitter</span>
    </a>
  {% endif %}

  {% if site.share-links-active.facebook %}
  <!--- Share on Facebook -->
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
      class="btn btn-social-icon btn-facebook" title="Share on Facebook">
      <span class="fab fa-fw fa-facebook" aria-hidden="true"></span>
      <span class="sr-only">Facebook</span>
    </a>
  {% endif %}

  {% if site.share-links-active.linkedin %}
  <!--- Share on LinkedIn -->
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}"
      class="btn btn-social-icon btn-linkedin" title="Share on LinkedIn">
      <span class="fab fa-fw fa-linkedin" aria-hidden="true"></span>
      <span class="sr-only">LinkedIn</span>
    </a>
  {% endif %}

  {% if site.share-links-active.pocket %}
  <!--- Save to Pocket -->
  <a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en"></a>
  <script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
  {% endif %}

</section>

{% endif %}
